


.img-container{
    height: 300px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.list-container{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: transform .3s;
}
.list-container .card-body{
    color: #636464;
    text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
    /* padding-left: 11px; */
    text-align: center;
    padding: 10px;
    line-height: 30px;
}
.list-container:hover  {
    transform: scale(1.05); 
}

.loader-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
