

.search-container:focus{
    box-shadow: none;
}

.search-container{
    background: rgba( 255, 255, 255, 0.2 ) !important;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%) !important;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
    font-size: 18px;
}