


.search-txt{
    color: white;
    font-size: 28px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
}

.error-txt{
    color: red;
    font-size: 28px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
}